extends ../layouts/application.pug

block content
  if users.length === 0
    h3.text-muted= t('views.users.notAnyUsers')
  else
    table.table.table-striped
      thead
        tr
          th= t('views.users.id')
          th= t('views.users.email')
          th= t('views.users.createdAt')
          th
      tbody
        each user in users
          tr
            td= user.id
            td= user.email
            td= formatDate(user.createdAt)
            td 
              a(href=route('editUser', { id: user.id }))= t('views.manage.edit')
              +buttonTo(route('deleteUser', { id: user.id }), 'delete')(value=t('views.manage.delete') class='btn-link btn')