- const getInputName = (property) => `data[${property}]`
- const getInputId = (property) => `data_${property}`
- const getLengthCount = (err) => (err.message.match(/\d+/) && err.message.match(/\d+/)[0]) || ''
- const names = { statusId: 'status', executorId: 'executor', labelIds: 'labels' }

mixin formFor(entity = null)
  form&attributes(attributes)
    block

mixin input(entity, propertyName, errors = {}, showPropertyName = true)
  - propertyErrors = _.get(errors, propertyName)
  - classLine = 'form-control' + (!errors[propertyName] ? '' : ' is-invalid')
  - inputId = getInputId(propertyName)
  .form-group(class=(errors[propertyName] && 'has-danger'))
    label(
      for= inputId
    )= showPropertyName ? t(`form.${propertyName}`) : ''
    input(
      id= inputId
      name=getInputName(propertyName)
      class=classLine
      value=_.get(entity, propertyName, '')
    )&attributes(attributes)
    if !_.isEmpty(propertyErrors)
      .invalid-feedback= propertyErrors.map((err) => err.keyword ? t(`errors.${err.keyword}`, { count: getLengthCount(err) }) : err.message).join('. ')

mixin textarea(entity, propertyName, errors = {})
  - propertyErrors = _.get(errors, propertyName)
  - classLine = 'form-control' + (!propertyErrors ? '' : ' is-invalid')
  - inputId = getInputId(propertyName)
  - name = getInputName(propertyName)
  .form-group(class=(errors[propertyName] && 'has-danger'))
    label(
      for= inputId
    )= t(`form.${propertyName}`)
    textarea(
      id= inputId
      name= name
      class=classLine
    )&attributes(attributes)= _.get(entity, propertyName, '')
    if !_.isEmpty(propertyErrors)
      .invalid-feedback= propertyErrors.map(({ message }) => message).join('. ')

mixin submit(value, link = true)
  - classLine = link ? 'btn btn-link' : 'btn btn-primary'
  .form-group
    input(class=classLine type='submit' value=value)&attributes(attributes)

mixin buttonTo(action, method)
  form(action=action, method="post")
    input(name="_method" type="hidden" value=method)
    input(type='submit')&attributes(attributes)

mixin select(entity, propertyName, errors = {}, items, multiple = false)
  - propertyErrors = _.get(errors, propertyName)
  - classLine = 'form-control' + (!propertyErrors ? '' : ' is-invalid')
  - inputId = getInputId(propertyName)
  - name = getInputName(propertyName)
  - entityName = entity.constructor.name.toLowerCase()
  - log('entity %O', entity)
  - log('propertyName %O', propertyName)
  - selectedOptions = entity[propertyName] ? [entity[propertyName]].flat().map((item) => item.id ? Number(item.id) : Number(item)) : []
  .form-group
    label(for=inputId)= t(`views.${entityName}s.${propertyName in names ? names[propertyName] : propertyName}`)
    select.form-control(
        id= inputId,
        name=name,
        multiple=multiple
        class=classLine
      )
      if !multiple
        option
      each item in items
        - isSelect = _.includes(selectedOptions, item.id)
        option(value=item.id, selected= isSelect)= item.name
    if !_.isEmpty(propertyErrors)
      .invalid-feedback= propertyErrors.map(({ message }) => message).join('. ')

mixin filterSelect(entity, propertyName, items, filterOptions)
  - classLine = 'form-control ml-2 mr-3'
  - inputId = getInputId(propertyName)
  .form-group 
    label(for=inputId)= t(`views.filters.${propertyName}`)
    select.form-control(
        id=inputId,
        name=propertyName,
        multiple=false
        class=classLine
      )
      option(selected= true)
      each item in items 
        - isSelect = filterOptions[propertyName] == item.id
        option(value=item.id, selected= isSelect)= item.name

mixin checkbox(propertyName, filterOptions)
  - classLine = 'form-control form-check-input ml-2 mr-3'
  - inputId = getInputId(propertyName)
  .form-group.form-check
    label.form-check-label(for=inputId)= t(`views.filters.${propertyName}`)
    input.form-check-input(class=classLine id=inputId type='checkbox' name=propertyName checked=filterOptions[propertyName])


