extends ../layouts/application.pug

block content
  a.nav-link(href=route('newTask'))= t('views.tasks.create')
  .jumbotron.p-2
    +formFor()(action=route('tasks') method='get' class="form-inline")
      +filterSelect('task', 'status', statuses, filterOptions)
      +filterSelect('task', 'executor', users, filterOptions)
      +filterSelect('task', 'label', labels, filterOptions)
      +checkbox('isCreatorUser', filterOptions)
      +submit(t('views.tasks.filter'),false)
  table.table.table-striped
    thead
      tr
        th= t('views.tasks.id')
        th= t('views.tasks.name')
        th= t('views.tasks.status')
        th= t('views.tasks.author')
        th= t('views.tasks.executor')
        th= t('views.tasks.createdAt')
        th
    tbody
      each task in tasks 
        tr
          td= task.id
          td
            a(href=route('showTask', { id: task.id }))= task.name
          td= task.status.name
          td= task.creator.name
          if task.executor
            td= _.get(task.executor, 'name')
          else
            td
          td= formatDate(task.createdAt)
          td.d-md-flex
            a(class='btn-link btn' href=route('editTask', { id: task.id }))= t('views.manage.edit')
            +buttonTo(route('deleteTask', { id: task.id }), 'delete')(value=t('views.manage.delete') class='btn-link btn')
    