extends ../layouts/application.pug

block content
  .card
    .card-header.bg-secondary.text-white
      h2= task.name
    .card-body.bg-light
      p= task.description
      hr
      .container
        .row.p-1
          .col= t('views.tasks.author')
          .col= task.creator.name
        .row.p-1
          .col= t('views.tasks.executorId')
          if task.executor
            .col= task.executor.name
          else 
            .col
        .row.p-1
          .col= t('views.tasks.statusId')
          .col= task.status.name
        .row.p-1
          .col= t('views.tasks.createdAt')
          .col= task.createdAt
        if task.labels.length > 0
          .row.p-1
            .col
              h6= `${t('views.tasks.labelIds')}:`
              ul 
                each label in task.labels 
                  li= label.name
        .row.p-1
          .col.d-flex
            a(class='btn-link btn' href=route('editTask', { id: task.id }))= t('views.manage.edit')
            +buttonTo(route('deleteTask', { id: task.id }), 'delete')(value=t('views.manage.delete') class='btn-link btn')